extends ../layout

block content
	//vars
	- var images_url = "/images/internship/"
	//page
	div.small-10.small-centered
		header.row.internship-header
			div.small-12.large-5.columns
				h1.shadow-text
					p INTERN- <br>SHIP
				h1.clear-text
					p What is <br> NS Academy?
			div.logo-container.small-12.large-7.columns.small-centered
				img(src=images_url + "academy.png")
		div.row.introduction
			div.small-12.colums
				p.text-body Este programa surgió de la idea de apoyar al talento joven a adquirir buenas prácticas y experiencia para mejorar su currículum, y a la vez prepararse para entrevistas con clientes con necesidades de alta calidad en software.
		br
		div.goals-container.row
			div.goals
				div.goals-description.small-12.large-4.gray-background
					h1.subtitle Goals
					p.text-body En Nearsoft Academy no sólo se enseñan cuestiones técnicas, sino también sobre cómo manejar currículums, entrevistas, aportaciones a proyectos open source, prototipos, documentación, etc.
				div.goals-image.small-12.large-8
					img(src=images_url + "intern_2.jpg")
		div.how-to-apply.row.center
			div.small-11.small-centered.colums
				h1.subtitle How to apply?
				p.text-body.text-body La duración está pensada en 6 meses, durante los cuales estarías trabajando bajo la supervisión de un mentor en algún objetivo personal: sea especializarte en alguna tecnología en específico o aplicar para una de nuestras vacantes.
		div.how-to-apply.requisitos.row
			div.small-10.medium-9.small-centered.colums
				h2.subtitle Requisitos
				ul.text-body
					li
						span Estar en el último semestre (o equivalente) de tu carrera de sistemas computacionales (o afín) o ser recién egresado.
					li
						span Tener un inglés avanzado.
					li
						span Presentar y aprobar el logic test (indispensable aprobar para cualquier developer o intern que ingrese a Nearsoft).
					li
						span Tomar y aprobar entrevista en inglés.
					li
						span Tener una entrevista con los coordinadores del proyecto y con posibles mentores.
		div.row
			div.small-12.columns.separator.gray-background
		<br>
		div.convocatoria.row.gray-background.align-middle
			div.small-12.large-6.columns.right
				img(src=images_url + "calendario.png")
			div.small-12.small-centered.large-6.columns
				div
					p
						| PRÓXIMA</br>
						| CONVOCATORIA</br>
						| Febrero 2017
					<span class=button><a href="mailto:community@nearsoft.com?Subject=Internship">Contact us</a></span>
		<br>
		div.row
			div.small-12.columns.separator.gray-background
		div.row
			div.programas-title.small-12.colums
				h1.subtitle Otros programas
		div.programas-container.row
			div.gray-background.separator

			div.programas
				img(src=images_url + "ASNlogo.png" data-reveal-id="modal1").small-12.large-4.colums
				img(src=images_url + "Apprentice.png" data-reveal-id="modal2").small-12.large-4.colums
				img(src=images_url + "SOFE.png" data-reveal-id="modal3").small-12.large-4.colums

			div.gray-background.separator

	div#modal1.reveal(aria-labelledby="modalTitle" aria-hidden="true" data-reveal role="dialog")
